<a href="https://colab.research.google.com/github/LaisST/JornadaPython/blob/main/JornadaPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Aula 1
nome = "Lais Costa"
print("Hello",nome)

In [ ]:
#Aula 1 - Tipos de variáveis
numero = 5 # int
numero_decimal = 5.5 # float
texto = "Paulo" # string
maior_idade = True # bool

print(numero, type(numero))
print(numero_decimal, type(numero_decimal))
print(texto, type(texto))
print(maior_idade, type(maior_idade))

In [ ]:
#Aula1 - Soma de variaveis
print(5 + 5)
print("Paulo" + "Salvatore")
print("1" + "5")

In [ ]:
"""Exercício 1 - "E os 10% do garçom?"
Defina uma variável para o valor de uma refeição que custou R$ 42,54;
Defina uma variável para o valor da taxa de serviço que é de 10%;
Defina uma variável que calcula o valor total da conta e exiba-o no console."""

refeicao = 42.54
taxa = (refeicao*10)/100
total = refeicao + taxa
print("O valor da refeição mais a taxa de serviço é R$ {:.2f}".format(total))

O valor da refeição mais a taxa de serviço é R$ 46.79

In [ ]:
"""Exercício 2 - Input de Informações
Objetivo: Receber dados do usuário, trabalhar com os valores e exibir para o usuário.
Dificuldade: Principiante
1 - Crie um programa que receba do usuário seu nome, idade e gênero;
2 - Exiba na tela seguinte mensagem: "Olá, {nome}, você possui {idade} anos de idade e é do gênero {genero}.";
3 - Exiba também: "Já pensou no que você fará no seu aniversário de {idade + 1} anos?".
Adicionando uma pimentinha extra: "Se o usuário digitar idade 1, exiba apenas "ano" em vez de "anos" """

nome = input("Digite seu nome: ")
idade = int(input("Digite a sua idade: "))
genero = input("Digite o seu gênero: ")
if idade == 1:
  ano_s = "ano"
else:
  ano_s = "anos"
print("Olá {}, você possui {} {} de idade e é do gênero {}.".format(nome, idade, ano_s, genero))
if idade < 1:
  ano_s = "ano"
else:
  ano_s = "anos"
print("Já pensou no que você fará no seu aniversário de {} {}?".format(idade+1,ano_s))

In [ ]:
#Formatação de string

genero = "Masculino"
print("Sem formatação:", genero)
print("Capitalize:", genero.capitalize())
print("Upper case:", genero.upper())
print("Lower case:", genero.lower())
print()
if genero.lower() == "masculino":
  print(f"Esse if será lido")
else:
  print("Esse if não foi lido")

In [ ]:
# Comparações

print("1 > 1", 1 > 1)
print("1 == 1", 1 == 1)
print("1 != 1", 1 != 1)
print("1 < 1", 1 < 1)
print("1 <= 1", 1 <= 1)
print("1 >= 1", 1 >= 1)

In [ ]:
#if, else, elif
letra = input("Digite uma letra: ").upper()

if letra == "A":
  print("A de Amor")
elif letra == "B":
  print("B de Baixinho")
elif letra == "C":
  print("C de Coração")
else:
  print("Não sei opinar")

In [2]:
# Funções

# Para criar uma função, usamos a declaração 'def', seguida de parênteses e criando um bloco com o símbolo ':'
# Todo o conteúdo que estiver dentro da função, terá um nível de indentação, como fizemos no if, elif e else

# É importante entender que a função possui dois estágios: declaração e execução
# A declaração é quando falamos o que a função irá fazer ao ser EXECUTADA
# A execução é a função tendo efeito de fato e executando tudo no processador

# Declaração podemos fazer apenas uma única vez
# Execução podemos fazer quantas vezes quisermos (daí vem a magia das funções, o reaproveitamento de lógica)

# Declaração da função 'exibir_nome()':
def exibir_nome():
  print("Lais Costa")


# Execução da função 'exibir_nome()':
exibir_nome()

Lais Costa

In [ ]:
# Declaração

def exibir_faixa_etaria():
    idade = int(input("Digite a idade:"))
    faixa_etaria1 = idade >= 0
    faixa_etaria2 = idade >= 18
    faixa_etaria3 = idade >= 40

    print("Idade:", idade)

    if faixa_etaria3:
        print("Essa pessoa está na faixa etária 3")
    elif faixa_etaria2:
        print("Essa pessoa está na faixa etária 2")
    elif faixa_etaria1:
        print("Essa pessoa está na faixa etária 1")
    else:
        print("Informe uma idade correta!")
        exibir_faixa_etaria()

# Execução
exibir_faixa_etaria()

In [ ]:
'''Exercício 13
Nome: Convertendo Celsius/Fahrenheit
Objetivo: Escrever duas funções de conversão, uma de graus celsius em fahrenheit e a outra que faça o contrário.
Dificuldade: Principiante
1 - Crie um aplicativo de conversão entre as temperaturas Celsius e Fahrenheit.
2 - Primeiro o usuário deve escolher se vai entrar com a temperatura em Celsius ou Fahrenheit, depois a conversão escolhida é realizada.
3 - Se C é a temperatura em Celsius e F em Fahrenheit, as fórmulas de conversão são:
F = (9 * C / 5) + 32
C = 5 * (F - 32) / 9'''

def converter_para_Celsius(temperatura):
  conversao = (temperatura - 32) * 5/9
  print("{:.1f}ºF = {:.1f}ºC".format(temperatura, conversao))

def converter_para_fahrenheit(temperatura):
  conversao = (temperatura * 9/5) + 32
  print("{:.1f}ºC = {:.1f}ºF".format(temperatura, conversao))

print("***Escolha um opção***")
print("[ C ] - Converter de Fahrenheit para Celsius")
print("[ F ] - Converter de Celsius para Fahrenheit")
opcao = input("").upper()
if opcao == "C":
  grau = "Fahrenheit"
elif opcao == "F":
  grau = "Celsius"
else:
  print("Opção invalida!")

temperatura = float(input("Digite a temperatura em {}:".format(grau)))

if grau == "Fahrenheit":
  converter_para_Celsius(temperatura)
elif grau == "Celsius":
  converter_para_fahrenheit(temperatura)
else:
  print("Opção invalida!")

In [ ]:
# Lista

#         Valores da lista
numeros = [5, 9, 10, 20, 40, 80, 120, 300, 500, 900, 1000]
# Índices [0, 1,  2,  3,  4,  5,   6]

print(numeros, type(numeros))

primeiro_numero = numeros[0]
print("Primeiro número:", primeiro_numero, type(primeiro_numero))

quantidade_numeros = len(numeros)
print("Quantidade de números:", quantidade_numeros, type(quantidade_numeros))

ultimo_indice = quantidade_numeros - 1
ultimo_numero = numeros[ultimo_indice]
print("Último número:", ultimo_numero, type(ultimo_numero))

In [ ]:
# Mudando os valores de uma lista

numeros = [5, 9, 10, 20]

print("Primeiro número:", numeros[0], numeros)
print("Último número:", numeros[-1], numeros)

numeros[0] = 90

print("Primeiro número alterado:", numeros[0], numeros)

numeros[-1] = 15

print("Último número alterado:", numeros[-1], numeros)

In [ ]:
numeros = [1, 11, 44, 67, 8, 9, 4]
indice = int(input("Digite um índice: "))

numeros[indice] = 90

print(numeros)

In [ ]:
# Listas vazias

lista = []

print(lista, len(lista), type(lista))

In [33]:
# Adicionando elementos na lista

numeros = []

print(numeros, len(numeros), type(numeros))
numeros.append(10)
numeros.append(80)
numeros.append(7)
numeros.append(12)
numeros.append(19)
numeros.insert(0, 999)

print(numeros, len(numeros), type(numeros))

[] 0 <class 'list'>
[999, 10, 80, 7, 12, 19] 6 <class 'list'>

In [ ]:
# Ordenando uma lista

numeros = [9, 3, 4, 77, 1, 6, 5, 300, 20]

numeros.sort(reverse=True)

print(numeros)

In [ ]:
# Visualizando todos os itens de uma lista
# Declaração: 'for'

numeros = [10, 90, 40, 30, 20, 50]

for numero in numeros:
  print(numero)

In [35]:
# Visualizando todos os itens de uma lista
# Declaração: 'for'

# for valor in lista:
#   Executo uma vez para cada valor.
#   Em cada execução, a variável 'valor' possui uma informação diferente
# Exemplo: Numa lista com [4, 12, 6]
# Se tivermos: for valor in lista:
# Temos na 'primeira' execução do for a informação '4' para a variável 'valor'
# Temos na 'segunda' execução do for a informação '12' para a variável 'valor'
# Temos na 'terceira' execução do for a informação '6' para a variável 'valor'

numeros = [10, 90, 40, 30, 20, 50]
numeros_em_dobro = []

for numero in numeros:
  numeros_em_dobro.append(numero * 2)
  print("Execução do for para o número:", f"{numero} * 2 = {numero * 2}")

print(numeros)
print(numeros_em_dobro)

Execução do for para o número: 10 * 2 = 20
Execução do for para o número: 90 * 2 = 180
Execução do for para o número: 40 * 2 = 80
Execução do for para o número: 30 * 2 = 60
Execução do for para o número: 20 * 2 = 40
Execução do for para o número: 50 * 2 = 100
[10, 90, 40, 30, 20, 50]
[20, 180, 80, 60, 40, 100]

In [ ]:
# For indexado, em que temos acesso ao índice de cada valor

for indice in range(10):
  print(indice)

In [ ]:
numeros = [9, 4, 3, 7, 5]
# For indexado, em que temos acesso ao índice de cada valor

for indice in range(len(numeros)):
  numero = numeros[indice]
  print("Índice", indice, "temos o valor", numero)

In [ ]:
# Encerrando o for de maneira forçada com o break

numeros = [9, 4, 3, 7, 5]
# For indexado, em que temos acesso ao índice de cada valor

for indice in range(len(numeros)):
  numero = numeros[indice]
  print("Índice", indice, "temos o valor", numero)

  if indice == 2:
    break

In [ ]:
# Introduzindo um pouco do enumerate

numeros = [9, 12, 4, 7, 3]

enum = enumerate(numeros)
lista = list(enum)

print(lista)

In [40]:
# Tuplas -> Parecem muito com as listas
tupla = (1, 5, 9, 7, 6)
print(tupla, type(tupla))

#Acessando elementos da tupla

numeros = (9, 7, 6, 3, 4, 65)

primeiro_numero = numeros[0]

print(primeiro_numero, type(primeiro_numero))

(1, 5, 9, 7, 6) <class 'tuple'>
9 <class 'int'>

In [ ]:
tupla = (5, 6, 9, 7, 3)

print(tupla, type(tupla))

# Transforma qualquer coisa em lista (desde que seja um tipo suportado)
lista = list(tupla)

lista[0] = 9

print(lista)

tupla = tuple(lista)

print(tupla)

In [42]:
"""
Se a lista for em string, como fazermos para clássicas em ordem alfabética?
"""

nomes = ["Rafael", "Paulo", "Marina", "Mariana", "Gabriel", "Juliano"]

nomes.sort()
#nomes.sort(reverse=True) - Ordem decrescente 

print(nomes)

['Gabriel', 'Juliano', 'Mariana', 'Marina', 'Paulo', 'Rafael']

In [43]:
# Dicionários
# Quase iguais as listas
# A única diferença é que podemos/devemos definir os índices

# Enquanto a lista atribui índices sequenciais de maneira automática,
# os dicionários precisam desse índice definido

dicionario = {"nome": "Lais", "sobrenome": "Costa"}

print(dicionario, type(dicionario))

nome = dicionario["nome"]
print(nome, type(nome))

sobrenome = dicionario["sobrenome"]
print(sobrenome, type(sobrenome))

{'nome': 'Lais', 'sobrenome': 'Costa'} <class 'dict'>
Lais <class 'str'>
Costa <class 'str'>